@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Juan E. Castaño</h1>
    <br />
    <h2 class="display-7">Practica de Desarrollo de Software</h2>
    <br />
    <p>Sigueme en mis redes:</p>
    <a href="https://www.facebook.com/juanesteban.castanocastano/">Facebook</a> |
    <a href="https://www.instagram.com/castacrew/?hl=es-la">Instagram</a> |
    <a href="https://api.whatsapp.com/send?phone=3012859682&text=Hola!%20Estoy%20interesado%20en%20alguno%20de%20tus%20servicios%20o%20productos.">Whatsapp</a> |
</div>
